.post-title {
  @extend %title;
  margin-bottom: 0;

  + .post-date {
    margin-bottom: 0;
  }
}

.post-meta {
  @extend %little-text;
  color: $coal;
  margin-top: 8px;
}

.post {
  margin-top: 30px;
}
