@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: normal;
    src: local('JetBrainsMono Mono Regular'),
        url('../fonts/JetBrainsMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: normal;
    src: local('JetBrainsMono Mono Italic'),
        url('../fonts/JetBrainsMono-Italic.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: bold;
    src: local('JetBrainsMono Mono Bold'),
        url('../fonts/JetBrainsMono-Bold.woff') format('woff');
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

html {
    font-family: 'JetBrains Mono', monospace;
    font-size: 17px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


h1 {
    font-weight: bold;
    font-size: 27px;
    line-height: 33px;
    text-transform: uppercase;
    margin-top: 54px;
    margin-bottom: 12px;

    + p {
        margin-top: 12px;
    }
}

h2 {
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    margin-top: 46px;
    margin-bottom: 12px;

    + p {
        margin-top: 12px;
    }
}

h3 {
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 34px;
    margin-bottom: 8px;

    + p {
        margin-top: 8px;
    }
}

th,
td {
    text-align: left;
    vertical-align: top;
}

img,
iframe {
    border: 0;
}

strong {
    font-weight: bold;
}

li {
    margin-top: 8px;
}

