@import './reset.scss';
@import './colors.scss';
@import './animation.scss';

body {
    margin: 16px auto 48px;
    max-width: 576px;
    color: $black;
}

a {
    color: inherit;
    text-decoration: none;
    outline: 0;
}

main {
    margin: 24px;

    a {
        border-bottom: 3px solid $coal;

        &:hover,
        &:focus {
            animation: rainbow-flash-border-color $rainbow-flash-duration
                infinite;
        }

        &:active {
            border-color: $bright-red;
        }

        &visited {
            border-color: $plum;
        }
    }
}

.site-logo {
    margin: 0 auto;
    width: 96px;
    height: 96px;
    background-color: #fff;
    border-radius: 100%;
    display: block;
    position: relative;

    &:after {
        content: '(Galaxy Brain)';
        color: #999;
        font-family: 'Space Mono Bold';
        font-size: 11px;
        text-transform: uppercase;

        position: absolute;
        bottom: -10px;
        left: 3px;
        width: 150px;

        transition: opacity 0.3s ease;
        opacity: 0;
    }

    &:hover:after {
        opacity: 1;
    }

    &-main {
        display: block;
        border-radius: 100%;
    }
}

.cta-container {
    text-align: center;
    margin: 24px 0;

    .button { margin: 8px; }
}

.button {
    display: inline-block;
    padding: 6px 12px;
    border: 3px solid;
    border-radius: 5px;

    border-color: $coal;

    ion-icon {
        color: $coal;
        font-size: 20px;
        vertical-align: middle;
        position: relative;
        top: -1.5px;
    }

    &:hover,
    &:visited {
        animation: rainbow-flash-border-color $rainbow-flash-duration infinite;
    }
}
