---
layout: base.njk
permalink: 3d-printing.html
---

<h1>3D Printing at Galaxy Brain</h1>
<p>Galaxy Brain currently renders works on two printers, a <a href="https://www.monoprice.com/product?p_id=40108">Monoprice Cadet</a>, which we have lovingly named Rizzo, and Rowlf, our <a href="https://shop.prusa3d.com/en/3d-printers/180-original-prusa-i3-mk3s-kit.html#">Prusa i3 MKS+</a>.

<p>Rizzo is a strange mechanical creature with the following specifications:</p>
<p><ul>
    <li>Printing Technology: Fused Filament Fabrication (FFF)</li>
    <li>Build Volume: 3.9" x 4.1" x 3.9" (100 x 105 x 100 mm)</li>
    <li>Printing Accuracy: 0.1 - 0.4 mm</li>
    <li>Filament types: PLA</a>
</ul></p>

<p>Rowlf is a lovable rascal with the following specifications:</p>
<p><ul>
    <li>Printing Technology: Fused Filament Fabrication (FFF)</li>
    <li>Build Volume: 9.84" x 8.3" x 8.3" (250 × 210 × 210 mm)</li>
    <li>Printing Accuracy: 0.05 - 0.35 mm</li>
    <li>Filament types: PLA, PETG, ASA, ABS, PC (Polycarbonate), CPE, PVA/BVOH, PVB, HIPS, PP (Polypropylene), Flex, nGen, Nylon, Carbon filled, Woodfill</li>
</ul></p>

<p>We stock PLA in the following colors:</p>
<p><ul>
    <li style="color: #070707">Black</li>
    <li style="color: #0743fa">Blue</li>
    <li style="color: #66ff00">Bright Green</li>
    <li style="color: #a8a07b">Natural</li>
    <li style="color: #c0c0c0">Metallic Silver</li>
    <li style="color: #c7c7c7">White</li>
    <li style="color: #f15060">Red</li>
    <li style="color: #ffa500">Bright Orange</li>
    <li style="color: #ffd700">Metalic Gold</li>
    <li style="color: #ffff00">Yellow</li>
</ul></p>

<p>We stock PETG in the following colors:</p>
<p><ul>
    <li style="color: #0743fa">Translucent Blue</li>
    <li style="color: #a8a07b">Clear</li>
</ul></p>
<p>If you are publishing with Galaxy Brain, all print costs are assumed by Galaxy Brain. If you are interested in publishing with Galaxy Brain or working with Galaxy Brain on a print-for-hire project, please email <a href="mailto:hello@galaxybrain.co">hello@galaxybrain.co</a>.</p>
