---
permalink: 3d-printing.html
---
{% extends "layouts/base.njk" %}

{% block content %}
<main>
    <h1>3D Printing at Galaxy Brain</h1>
    <p>Galaxy Brain currently renders works on a <a href="https://www.monoprice.com/product?p_id=40108">Monoprice Cadet</a>, which we have lovingly named Rizzo. Rizzo is a strange mechanical creature with the following specifications:</p>
    <p><ul>
        <li>Printing Technology: Fused Filament Fabrication (FFF)</li>
        <li>Build Volume: 3.9" x 4.1" x 3.9" (100 x 105 x 100 mm)</li>
        <li>Printing Accuracy: 0.1 - 0.4 mm</li>
    </ul></p>
    <p>Rizzo prints with PLA filament, which we stock in the following colors:</p>
    <p><ul>
        <li style="color: #070707">Black</li>
        <li style="color: #f15060">Red</li>
        <li style="color: #0743fa">Blue</li>
        <li style="color: #c7c7c7">White</li>
        <li style="color: #a8a07b">Natural</li>
    </ul></p>
    <p>If you are publishing with Galaxy Brain, all print costs are assumed by Galaxy Brain. If you are interested in publishing with Galaxy Brain or working with Galaxy Brain on a print-for-hire project, please email <a href="mailto:hello@galaxybrain.co">hello@galaxybrain.co</a>.</p>
</main>
{% endblock %}