---
layout: base.njk
permalink: free-reading-material-june-2020.html
---
<h1>Free reading material</h1>
<ul>
    <li>
        <a href="https://www.sherwoodforestzinelibrary.org/recently-added-pdfs-links">
            Sherwood Forest Zine Library
        </a>
    </li>
    <li>
        <a href="https://libraryguides.berea.edu/bczines/race">
            African-American Voices zine collection at Berea
            College&rsquo;s Hutchins Library
        </a>
    </li>
    <li>
        <a href="https://www.versobooks.com/books/2817-the-end-of-policing">
            <em>The End of Policing</em> by Alex S. Vitale at Verso
            Books (free ebook)
        </a>
    </li>
</ul>
