{% extends "layouts/base.njk" %}
{% block content %}
<main>
    <p>
        <strong>Galaxy Brain</strong> is a creative studio, small press,
        and Risograph printing concern in the Bay Area. Galaxy Brain is
        run by <a href="http://phildini.net">Philip James</a> and
        <a href="http://liamcampbell.info">Liam Campbell</a>.
    </p>
    <h2>Our Work</h2>
    <p>
        We make everything from zines about wine to telephony apps for 
        podcasters. You can see the full set of what we do on our 
        <a href="/projects.html">Projects page</a>
    </p>
    <p>
        We also partner with other folks to publish their zines, print
        their art, and make things happen. It&rsquo;s all available on
        our store.
    </p>
    <div class="cta-container">
        <a class="button" href="https://shop.galaxybrain.co"
            ><ion-icon name="cart"></ion-icon> Buy Stuff</a
        >
    </div>
    <h2>Behind The Scenes</h2>
    <p>
        It makes us happy to share our work with people&mdash;not just
        the end products, but the process as well. We thoroughly
        document our work (and its tribulations) on Instagram and in our
        newsletter, <strong>Action Potential</strong>.
    </p>
    <div class="cta-container">
        <a
            class="button"
            href="https://www.instagram.com/galaxybrainco/"
            ><ion-icon name="logo-instagram"></ion-icon> Follow</a
        >
        <a class="button" href="https://buttondown.email/galaxybrain"
            ><ion-icon name="mail-open"></ion-icon> Subscribe</a
        >
    </div>
    <h2>Work With Us</h2>
    <p>
        If you want to get something beautiful and strange out into the
        world, we want to work with you. Give us as little or as much
        information as you have.
    </p>
    <div class="cta-container">
        <a class="button" href="https://airtable.com/shrTmzKNRZnMkA9ET"
            ><ion-icon name="send"></ion-icon> Contact Us</a
        >
    </div>
</main>
{% endblock %}
