---
layout: base.njk
title: Galaxy Brain
pagination:
  data: collections.blog
  size: 50
  reverse: true
  alias: posts
---

<section class="news-container">
  <h2 class="news-container-header">Hello, Weary Travelers</h2>
  <div class="news-container-body">
  <p>
  Galaxy Brain is an arts and technology collective belonging to Philip James and Rosemary Campbell.
  We make Risograph prints and zines, podcasts, software, music, films, and honestly anything else we feel like.
  </p>
  <p>
  <a href="mailto:hello@galaxybrain.co">Get in touch</a> to collaborate with us.
  </p>
</section>

<ul class="post-list">
{% for post in posts %}
  <li class="post-list--item">
    <a class="post-list--link" href="{{ post.url }}">{{ post.data.title | smartquotes | safe }}</a>
    <div class="post-list--deck">
      {{ post.data.deck }}
    </div>
    <div class="post-list--meta">
    <span class="post-list--item-date">{{ post.date | postDate }}</span>
    &middot;
    <span class="post-list--item-author">{{ post.data.author }}</span>
    </div>
  </li>
{% endfor %}
</ul>
