---
layout: base.njk
---

<div class="cta-container">
    <strong>HELLO, TRAVELER</strong><br />
    <strong>CHOOSE YOUR OWN ADVENTURE</strong>
</div>
<div class="cta-container">
  <a class="button" href="https://galaxybrain.co/library.html"><ion-icon name="library"></ion-icon> Printing Library</a>
</div>
<div class="cta-container">
  <a class="button" href="https://shop.galaxybrain.co"><ion-icon name="cart"></ion-icon> Buy Stuff</a>
</div>
