{% extends "layouts/base.njk" %}

{% block content %}
<main>
    <div class="cta-container">
        <a class="button" href="https://airtable.com/shrnbav51ctPSzjCW"
            ><ion-icon name="search"></ion-icon> RSS Survey</a
        >
    </div>
    <div class="cta-container">
        <a class="button" href="https://hellocaller.app"
            ><ion-icon name="call"></ion-icon> Hello, Caller</a
        >
    </div>
    <div class="cta-container">
        <a class="button" href="https://shop.galaxybrain.co"
            ><ion-icon name="cart"></ion-icon> Buy Stuff</a
        >
    </div>
</main>
{% endblock %}
