---
permalink: library.html
---
{% extends "layouts/base.njk" %}

{% block content %}
<main>
    <h1>The Galaxy Brain Printing Library</h1>
    <p>At Galaxy Brain, we are advocates of a political theory known as <a href="https://boingboing.net/2019/11/24/usufruct-complementarity-irred.html">Library Socialism</a>. It's a form of social government based on a concept most people already know: their public library.</p>
    <p>As part of an experiment to see how Library Socialism can work in practice, we're starting the Galaxy Brain Printing Library.</p>
    <h2>The Library</h2>
    <p>The Galaxy Brain Printing Library is made of three machines: our risograph, <a href="/printing.html">Animal</a>, and our 3D Printers, <a href="/3d-printing.html">Rizzo and Rowlf</a>. All library members now have access to these machines through us, with some stipulations. Any library member can, every year, print up to 100 two-color sheets spread across at most 4 masters on Animal, and can print for up to 3 hours on Rizzo.</p>
    <p>Anything that is already in the public domain, or listed on an eligible site like <a href="https://www.thingiverse.com/">thingiverse</a>, is available for print. If a member wants to print their own designs, they must license them into the public domain (<a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0</a>).
    <h2>FAQ</h2>
    <h3>Who can be a member?</h3>
    <p>Any resident of Alameda or San Francisco counties, where the two Galaxy Brain principals are based, is eligible to be a member.</p>
    <h3>What does membership cost?</h3>
    <p>Your membership is paid for by paying your taxes, and therefore providing services that Galaxy Brain benefits from. Other costs are subsidized by Galaxy Brain.</p>
    <h3>Will you ship to me?</h3>
    <p>No. It's a library. You must pick up your prints at either the San Francisco or Alameda Galaxy Brain office.</p>
    <h3>How do I become a member?</h3>
    <p>Email <a href="mailto:library@galaxybrain.co">library@galaxybrain.co</a> with your name and a photo of a piece of mail with an address in Alameda or San Francisco county with your name on it. We will not save these photos. If you're worried about it we can provide a signal address so you can use disappearing photos.</p>
    <h3>Can multiple members combine their time?</h3>
    <p>Yep.</p>
    <h3>What if we want to print more than our library time?</h3>
    <p>You can hire us! <a href="mailto:hello@galaxybrain.co">hello@galaxybrain.co</a>.</p>
</main>
{% endblock %}
