---
layout: base.njk
title: Projects
pagination:
  data: collections.project
  size: 50
  reverse: true
  alias: projects
---
<ul class="post-list">
{% for project in projects %}
  <li class="post-list--item">
    {% if project.data.link %}
    <a class="post-list--link" href="{{ project.data.link }}">
    {% else %}
    <a class="post-list--link" href="{{ project.url }}">
    {% endif %}
      {{ project.data.title | smartquotes | safe }}
    </a>
    <div class="post-list--deck">
      {{ project.data.deck }}
    </div>
    <div class="post-list--meta">
      <span class="post-list--tag -{{ project.data.type }}">{{ project.data.type }}</span>
    </div>
  </li>
{% endfor %}
</ul>
