---
permalink: projects.html
---
{% extends "layouts/base.njk" %}

{% block content %}
<main>
    <h1>Projects by Galaxy Brain</h1>
    <ul>
        <li><a href="https://patreon.com/adultjuicebox">Adult Juice Box</a> 
        is our flagship zine and the project that started Galaxy Brain. 
        It&rsquo;s mostly about wine, beer, and spirits, and can be found in
        bookstores and bottle shops around and about San Francisco. </li>
        <li><a href="https://pod.link/1499154938/">Thought and a Chaser</a>
        is an irregular podcase about libations, language, and logistics.
        We&rsquo;re working our way through the lexicon as we discover 
        fascinating and strange stories about how our favorite beverages are
        made.</li>
        <li><a href="https://victorypic.app">VictoryPic</a> is a Slack app
        for taking selfies. In the wake of COVID-19, we realized we wanted
        to see each other&rsquo;s faces more in our Slack channel, so we
        made an app for doing so. We&rsquo;re not sure about how it&rsquo;s 
        impacted our productivity, but we&rsquo;re certainly happier.</li>
    </ul>
</main>
{% endblock %}