---
permalink: summer-sale-2021.html
---
{% extends "layouts/base.njk" %}

{% block content %}
<main>
    <h1>WE'RE IN DEMAND AS HELL AND WE'RE NOT GONNA TAKE IT ANYMORE</h1>
    <p>Galaxy Brain <a href="https://shop.galaxybrain.co">sells things</a>. Ideally we'd just give these things away, but, unfortunately, as you know, capitalism. Because we sell things, people keep making orders. And that’s fucking fantastic, to be clear. But the orders come pretty spread out, and, honestly, we just can’t take it anymore. So we thought:</p>
    <p>"What if the orders came all at once? How could we do this?"</p>
    <p>"Well, we could cut our prices 50% across the board? Would that do it?"</p>
    <p>"You know, it just might."</p>
    <hr/>
    <p>We've <a href="https://shop.galaxybrain.co">cut prices in half</a> on anything that isn't already a bundle. We want you to have these things, and we need the inventory space for new projects.</p>
    <p>Don't see what you're looking for? Got a great idea of your own? <a href="/library.html">The Library</a> is still there, still waiting to bring your ideas to life.</p>
    <h2>"Galaxy Brain: How are we still a business?™</h2>
</main>
{% endblock %}
